.form-body {
    height: 35rem;
    width: 90%;
    margin: 3% 5% 0 5%;
    display: flex;
    border-radius: 20px;
    padding-top: 5%;
}

.img-side {
    width: 60%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.form-side {
    width: 40%;
    height: 100%;
    background: rgb(185, 93, 57);
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0 4%;
    font-size: 1.2rem;

}

#pic-signin {
    border-radius: 20px 0 0 20px;
    filter: blur(4px);
    border-style: none;
}

.insert {
    margin: 4% 0 2% 0;
    border-radius: 2px;
    border-style: none;
    height: 8%;
    background-color:#fffdd0;
    color: brown;

    padding: 0 2%;
    border-radius: 2%;
}

.submit-button {
    width: 30%;
    height: 10%;
    border-style: none;
    border-radius: 10px;
    color: brown;
    background-color: #fffdd0;
    margin-top: 7%;
}

.submit-button:hover {
    font-size: 1.2rem;
}


#head-sign {
    text-align: center;
}

.google {
    margin-top: 6%;
    height: 11%;
    width: 100%;
    color: brown;
    background-color: #fffdd0;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.google:hover {
    background-color: brown;
    color: #fffdd0;
}

@media screen and (max-width:600px) {
    .img-side {
        width: 0%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }

    .form-side {
        width: 100%;
        height: 100%;
        background: url(ice-naruto.jpg);
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        padding: 2% 5% 0 4%;
        font-size: 1.2rem;

    }
}