.flavour-body {
    height: 20em;
    width: 15em;
    background: rgba(185, 93, 57, 0.523);
    box-shadow: 2px 5px 10px grey;
    border-radius: 10px;
    padding: 1%;

}

.flavbtn {
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    background:#fffdd0;
    width: 80%;

}

.contimg {
    width: 100%;
    height: 67%;
    border-radius: 0 40px 0 40px;
    margin-bottom: 3%;
    box-shadow: 3px 3px 7px rgb(85, 83, 83);
}

.name {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    width: 60%;
    margin-top: 3%;
    height: 100%;
    align-items: center;
    color: brown;
}

.rate {
    float: right;
    display: flex;
    width: 40%;
    margin-top: 4%;
    align-items: center;
    flex-direction: column;
}

.titleorder {
    font-size: 3em;
    text-align: center;
}

.detail-area {
    width: 100%;
    height: 30%;
    background: #fffdd0;
    border-radius: 10px;
    box-shadow: 2px 5px 10px grey;
}