.navbar {
  background:rgb(185, 93, 57) ;
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.imga {
  float: left;
  border-radius: 1em;
  text-align: center;
  letter-spacing: 3px;

}
.nav-link{
  color: #FFFDD0 !important;
}

.dropdown-toggle {
  background-color: transparent;
  border-style: none;
}

.dropdown-item:hover {
 background: rgba(185, 93, 57, 0.523);
}

.for-user{
  margin-right: 28px;
}
.navbar-collapse{
  width: 80%;
  position: relative;
  z-index: 10;
}
.navbar-nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  z-index: 10;

}
.nav-item{
  font-size: 1.2rem;
  font-weight: 500;
  width: 15%;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .collapse {
    position: absolute;
    right: 1%;
  }

  .nav-item {
    margin-right: 3px;
    border-radius: 14%;
  }

  .nav-item:hover {
   background: rgba(185, 93, 57, 0.523);
  }

  .dropdown-toggle:hover {
    background-color: inherit;
  }
}