.navbar {
  background:#41047e81 ;
  backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  
}

.imga {
  float: left;
  border-radius: 1em;
  text-align: center;

}
.neon-nav{
  color: #42047e;
}

.btn {
  margin: 1px;
  margin-right: 4px;
  border-style: none;
  background: linear-gradient(#42047e,#07f49e);
  color: white;
  font-weight: 500;

}

.dropdown-toggle {
  background-color: transparent;
  border-style: none;
}

.dropdown-item:hover {
  background: linear-gradient(#42047e,#07f49e);
}
.logbtn:hover{
    background: linear-gradient(#42047e,#07f49e);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.for-user{
  margin-right: 28px;
}
.nav-item{
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .collapse {
    position: absolute;
    right: 1%;
  }

  .nav-item {
    margin-right: 3px;
    border-radius: 14%;
  }

  .nav-item:hover {
    background: linear-gradient(#42047e,#07f49e);
  }

  .dropdown-toggle:hover {
    background-color: inherit;
  }
}