h1,h5{
   padding-bottom: 0%;
   margin-top: 2%;
   text-align: center;
   
}
.top-things{
   top: 0;
   width: 100%;
}
.bottom-things{
   position: relative;
   bottom: 0;
   width: 100%;
}
.neon{
   color: white;
   text-shadow:3px 3px 5px #07f49e;
   font-family:  sans-serif;
}
