h1,h5{
   padding-bottom: 0%;
   margin-top: 2%;
   text-align: center;
   
}
.top-things{
   top: 0;
   width: 100%;
}
.bottom-things{
   position: relative;
   bottom: 0;
   width: 100%;
}
.neon{
   color: #FFFDD0;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 700;
}
.like-btn{
   border: none;
   background-color: #fffdd0;
   color: brown;
}
